@media only screen and (max-width: 950px) {
    footer{
        display: none;
    }
    .main-container{
        display: none;
    }
    body{
        background:no-repeat center/50% url(../img/underconstruc.jpg);
        background-size: cover;
    }
  }
  